body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .new-task{
    
  }

  .dark-mode{
    background-color: #555;
    color: #ebeae8;
  }
  
  .dark-mode div.dark{
    color:black;
  }

  .dark-mode form{
    color: black
  }

  .dark-mode #formLabel{
    color: black
  }



